.banner {
  object-position: center center;
  object-fit: cover;
  image-rendering: auto;
  padding-top: 250px;
  max-width: 100%;
}

@media screen and (min-width: 319px) and (max-width: 480px) {
  .banner {
    width: 100%;
    padding-top: 150px;
    height: 240px;
  }
}
@media screen and (min-width: 481px) and (max-width: 810px) {
  .banner {
    width: 100%;
    padding-top: 180px;
    height: 200px;
    object-position: center;
    object-fit: cover;
  }
}
