.info-p {
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
  max-width: 600px;
  text-transform: capitalize;
}

@media screen and (max-width: 320px) {
  .info-p {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  .info-p {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 810px) {
  .info-p {
    max-width: 100%;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 20px;
  }
}
